* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: #8f8f8f;
        border-width: 1px;
        box-shadow: 0 0 0 5px #fe671c8f;
    }
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: #8f8f8f;
        border-width: 1px;
        box-shadow: 0 0 0 5px #fe671c8f;
    }

}

/*----------------------------------------------------------------------------------------------*/
/*conteudo do sidebar*/

.sidebar {
    width: 250px;
    background-color: #8f8f8f;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    overflow-y: auto;
}

.imagem-logo {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000000;
}

.imagem-logo img {
    width: 200px;
    margin-left: 10%;
    margin-top: 10px;

}

.list-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.list-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.list-menu ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.list-menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 15px;
}

.list-menu ul li:hover {
    background-color: #fe681c;
    border-radius: 10px;
}

.list-menu ul li a img {
    margin-right: 10px;
}


.logout-button {
    background-color: #fe681c;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: larger;
}

.logout-button:hover {
    background-color: #e70800;
    color: #fff;
}

/*----------------------------------------------------------------------------------------------*/
/*Conteudo da pagina*/

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
}

.header {
    width: 100%;
    height: 120.7px;
    background-color: #8f8f8f;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.header h1 {
    text-align: center;
    line-height: 4;
}

/*----------------------------------------------------------------------------------------------*/
/*conteudo do rodapé*/

footer {
    background-color: #8f8f8f;
    color: #fff;
    text-align: center;
    padding: 5px;
    width: 100%;
    clear: both;
}

/*----------------------------------------------------------------------------------------------*/
/*conteudo do Cadastro de usuario*/

.container-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    width: 600px;
    margin: 30px;
    background-color: #8f8f8f63;
}

.container-user label {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.container-user label img {
    margin-right: 10px;
    margin-top: 5px;
}

.container-user input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 530px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: #8f8f8f;
        border-width: 1px;
        box-shadow: 0 0 0 5px #fe671c8f;
    }
}

.button-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-register button {
    width: 30%;
    height: 50px;
    cursor: pointer;
    background-color: #8f8f8f;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 2%;
    margin-top: 5%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

.button-register button:hover {
    background-color: #fe681c;
}

/*----------------------------------------------------------------------------------------------*/
/*conteudo do Cadastro de Motorista*/

.container-driver {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.dados {
    display: flex;
    flex-direction: column;
    width: 700px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 25px;
    background-color: #8f8f8f63;

}

.form-ajust {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 100%;
}



.form-ajust label {
    font-weight: bold;
    display: flex;
    align-items: center;

}

.form-ajust label img {
    margin-right: 5px;

}

.form-ajust2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.form-ajust2 label {
    font-weight: bold;
    display: flex;
    align-items: center;

}

.form-ajust2 label img {
    margin-right: 5px;

}

.input1 {
    width: 520px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: #8f8f8f;
        border-width: 1px;
        box-shadow: 0 0 0 5px #fe671c8f;
    }
}

.input2 {
    width: 150px;
    margin-left: 5px;
    margin-right: 25px;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: #8f8f8f;
        border-width: 1px;
        box-shadow: 0 0 0 5px #fe671c8f;
    }
}

.input3 {
    width: 60px;
    margin-left: 10px;
    margin-right: 25px;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: #8f8f8f;
        border-width: 1px;
        box-shadow: 0 0 0 5px #fe671c8f;
    }
}

.select1 {
    width: 60px;
    margin-left: 10px;
    margin-right: 25px;
    border-radius: 5px;
    padding-left: 10px;
    border: 2px solid #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: #8f8f8f;
        border-width: 1px;
        box-shadow: 0 0 0 5px #fe671c8f;
    }
}

.address {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    width: 700px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8f8f8f63;

}

.button-box {
    width: 700px;
}

.buttoncep{
    width: 70px;
    height: 20px;
    cursor: pointer;
    background-color: #8f8f8f;
    color: #fff;
    font-size: 0.9em;    
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

.buttoncep:hover {
    background-color: #fe681c;
}
/*----------------------------------------------------------------------------------------------*/
/*conteudo de novas rotas*/

.route {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
    background-color: #8f8f8f63;
}

.route label {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.route label img {
    margin-right: 10px;
    margin-top: 5px;
}

.route1 {
    display: flex;
    flex-direction: row;   
}

.route2 {
    display: flex;
    flex-direction: row;   
}
.route3 {
    display: flex;
    flex-direction: row;   
}

.route1b{
    margin-left: 40px;
    
}

.route2b{
    margin-left: 40px;
    
}

.route3b{
    margin-left: 40px;
    
}

.route1a input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;

}


.route1b input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 240px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    

}

.route2a input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 380px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;

}

.route2b input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;

}

.route3 select {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: -1px;

}

.route3 input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;

}

.route4 select {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 520px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: -1px;

}



/*----------------------------------------------------------------------------------------------*/
/*conteudo de Veiculos*/

.cars {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    padding: 10px;    
    margin: 20px;
    background-color: #8f8f8f63;
}

.cars1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cars1 label {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cars1 input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;

}

.cars2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cars2 label {
    font-weight: bold;
    display: flex;
    align-items: center;    
    margin-top: 5px;
    margin-left: 20px;
}

.cars2 input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 440px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    display: flex;
    margin-left: 20px;

}
.cars3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cars3 label{
    font-weight: bold;
    display: flex;
    align-items: center;    
    margin-top: 5px;
    
}
.cars3 select {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border: 2px solid;
    

}




/*----------------------------------------------------------------------------------------------*/
/*conteudo do painel de controle*/
.painel{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 0px;
}

.painel h1{
    text-align: center;
}
.tabela{
    margin: 20px;
}


/* Adicionando bordas à tabela */
.data-table {
    border-collapse: collapse;
    width: 100%;
}

.data-table th,
.data-table td {
    border: 1px solid #8f8f8f;
    padding: 8px;
    text-align: left;
}

/* Ajustando o espaçamento entre as colunas */
.data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Estilizando o botão Excluir */
button {
    background-color: #8f8f8f; /* Cor do botão */
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Mudando a cor do botão ao passar o mouse sobre ele */
button:hover {
    background-color: #fe681c; /* Nova cor ao passar o mouse */
}
